@import "../variables";
.carousel {
  width: 100%;
  margin-top: 10rem;
  background-color: var(--color-background-dark);
}
.card_all {
  width: 30%;
  height: 100%;
  border: 0;
}
.img {
  width: 300px;
  width: 100%;
}
.img:hover {
  padding: 0;
  box-shadow: 1px 1px 20px 5px #000;
}
.carousel-indicators {
  display: none;
}
.carousel-indicators li {
  display: none;
}
