.hero__img {
  width: 376px;
  height: 376px;
}
.play__button {
  width: 300px;
  height: 150px;
  position: absolute;
  right: 4rem;
  top: 15rem;
  cursor: pointer;
}
.btn_play:hover {
  opacity: 0.5;
  transition: 0.5s;
}
.play__button .svg-inline--fa {
  color: #ffffff;
  padding: 10px;
  width: 50px;
  height: 50px;
  background: #fece00;
  border-radius: 100%;
}

@keyframes video {
  from {
    opacity: 0;
    transform: RotateX(-5%);
  }
  to {
    transform: RotateX(50%);
    opacity: 1;
  }
}
