.inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}
.input_form {
  width: 600px;
  padding: 50px 10px;
  box-shadow: 1px 1px 4px 1px #000;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input_form:hover {
  box-shadow: 2px 2px 5px 2px #000;
}

.input_send {
  background: transparent;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  outline: none;
  width: 100vw;
  padding: 20px 0;
  color: #fff;
}
.input_send:focus {
  background: transparent;
  color: #fff;
}
.input_send:active:focus {
  outline: none;
}
.input_send::-webkit-input-placeholder {
  color: #fff;
}
.btn_play {
  position: relative;
  left: -50px;
  background-color: #ff7033;
  border-radius: 100%;
  padding: 10px;
  width: 80px;
}
