body {
  color: var(--color-white) !important;
  background-color: var(--color-background) !important;
}
:root {
  --color-background: #5268e7;
  --color-background-dark: #233abb;
  --color-white: #fff;
  --color-red: #f42850;
  --color-blue: #0841d5;
  --color-green: #1cb142;
  --color-orange: #ff7033;
}
