body{
  color: var(--color-white) !important;
  background-color: var(--color-background) !important;
}
:root {
  --color-background: #5268e7;
  --color-white: #fff;
  --color-red:#F42850;
  --color-blue:#0841D5;
  --color-green:#1CB142;
  
}
